<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogpage">blogs</a></li>
            <li><a href="/userpage">users</a></li>
        </ul>
    </header>
    <h1>Blog page</h1>
    {{!-- <h1>{{title}}</h1>
    <img src={{banner}} alt="">
    <p>{{content}}</p> --}}
    {{#if blogs}}
    {{#each blogs}}
    <div>
     <h1>{{title}}</h1>
     <img src={{banner}} alt="">
     <p>{{content}}</p>
     </div>
    {{/each}}
    {{else}}
    <h4>No blogs found!!</h4>
    {{/if}}
</body>
</html>